.pools-frame {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 30px;
  background-color: #171729;
  border-radius: 20px;
  position: relative;
  margin-top: 20px;
  width: 360px;
  padding-top: 50px;
  padding-bottom: 20px;
  outline: 2px solid #fff;
}

/* Style the swap text */
.pools-text {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #e6e6e6;
  align-items: center;
}

/* Style the swap text */
.pools-info-text {
  font-size: 13px;
  font-weight: bold;
  color: #979797;
  position: absolute;
  margin-top: 55px;
  margin-left: 0px; /* Add margin to create space between the text and button */
}

.top-frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px;
  margin-top: -40px;
  padding-bottom: 40px;
  border-radius: 20px 20px 0 0;
  width: 103%;
}

.top-frame-left {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.top-frame-right {
  display: flex;
  align-items: center;
}

.bottom-connect-button:hover {
  background-color: #e02121;
}

.top-connect-button {
  padding: 10px 30px;
  border-radius: 25px;
  background-color: #1e427c;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 0px;
  margin-left: 10px;
}

.bottom-connect-button {
  padding: 22px 40px;
  border-radius: 15px;
  background-color: #1e427c;
  color: #ffffff;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin-top: 0px;
}

.pools-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.pools-approve-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 103%;
}

.pools-bottom-approve-button {
  flex: 1;
  margin-right: 15px;
  padding-left: 10px;
  padding: 16px; /* Increase the vertical padding */
  border-radius: 10px;
  background-color: #315fdf;
  color: #ffffff;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.pools-bottom-swap-button {
  flex: 1;
  border-radius: 10px;
  background-color: #315fdf;
  color: #ffffff;
  font-size: 17px;
  border: none;
  cursor: pointer;
  margin-left: 0px;
  width: 99%;
  padding-top: 17px;
  padding-bottom: 17px;
}
